<div class="d-flex flex-column gap-3">
    <div>
        <label class="form-label">Værelsesnummer</label>

        <InputText class="form-control" @bind-Value="Model.Number" placeholder="Indtast værelsesnummer" />
    </div>

    <div>
        <label class="form-label">Værelsestype</label>

        <RoomTypeDropdown RoomType="Model.RoomType" OnRoomTypeChanged="(value) => Model.RoomType = value" />
    </div>

    <div>
        <label class="form-label">Status</label>

        <InputSelect @bind-Value="Model.Status" class="form-control">
            @foreach (var status in Enum.GetValues<RoomAvailabilityStatus>())
            {
                @if (status == Model.Status)
                {
                    <option value="@status" selected>@status.ToString()</option>

                    continue;
                }

                <option value="@status">@status.ToString()</option>
            }
        </InputSelect>
    </div>
</div>

@code {
    [Parameter]
    public RoomDto Model { get; set; } = new RoomDto();
}
