@page "/register"
@inherits BasePage

<div class="d-flex flex-column min-h-inner-screen justify-content-center max-w-20rem mx-auto">
    <ul class="nav nav-tabs mx-auto -mb-px z-1">
        <li class="nav-item">
            <a class="nav-link" href="login">Log Ind</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="register">Registrér</a>
        </li>
    </ul>

    <div class="card p-3 d-flex flex-column gap-3">
    </div>
</div>

@code {

}
