@page "/rules"

@inject ApiClient Api

<PageTitle>Regler</PageTitle>

<h3 class="mb-4">Regler</h3>

@if (rules is null)
{
    <p>Henter regler...</p>
}
else
{
    <div class="card pb-3">
        @for (int i = 0; i < rules.Count; i++)
        {
            var rule = rules.ElementAt(i);

            <div>
                <div class="my-3 d-flex gap-3 justify-content-center">
                    @if (i > 0)
                    {
                        <hr class="my-auto w-100" />
                    }

                    <h4 class="m-0 text-nowrap">@rule.Title</h4>

                    @if (i > 0)
                    {
                        <hr class="my-auto w-100" />
                    }
                </div>

                <ul class="mb-0">
                    @foreach (var item in rule.Rules)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        }
    </div>
}

@code {
    private ICollection<Rule>? rules;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        rules = await Api.GetRulesAsync();
    }
}