@page "/"
@inherits BasePage
@inject IJSRuntime JS

@inject ApiClient Api

<PageTitle>Søg</PageTitle>



    @if (exception is not null)
    {
        <div class="d-flex flex-column gap-2 mb-5">
            @foreach (var error in ApiExceptionHelper.ParseErrors(exception))
            {
                <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
            }
        </div>
    }

<div class="d-flex justify-content-center align-items-center min-h-inner-screen">
    <div class="d-flex flex-column gap-5 align-items-center">
        @if (WorkContext is not null)
        {
            <h1 class="heading-gold glass-card-luxury">Velkommen, @WorkContext.FirstName!</h1>
        }
        else
        {
            <h1 class="heading-gold glass-card-luxury">Velkommen!</h1>
        }

        <div class="card p-2">
            <SearchFilter @bind-FromDate="fromDate"
                          @bind-ToDate="toDate"
                          @bind-NumberOfAdults="numberOfAdults"
                          @bind-NumberOfChildren="numberOfChildren"
                          @bind-TravelingWithPets="travelingWithPets"
                          AvailableRoomTypesForStayChanged="(value) => availableRoomTypesForStay = value" />
        </div>

            @if (availableRoomTypesForStay is not null)
            {
                <div class="d-flex flex-column align-items-center gap-3">
                    @if (availableRoomTypesForStay.SuitableRoomTypes.Any())
                    {
                        <h3 class="heading-gold glass-card-luxury">Bedste valg baseret på din søgning</h3>

                        <div class="d-grid gap-3 w-fit" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                            @foreach (var roomType in availableRoomTypesForStay.SuitableRoomTypes)
                            {
                                <RoomTypeCard RoomType="roomType" RoomDiscount="GetDiscount(roomType)" OnBook="PrepareBookingCreation" />
                            }
                        </div>

                        <h3 class="heading-gold glass-card-luxury">Andre valgmuligheder</h3>
                    }

                    <div class="d-grid gap-3 w-fit" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                        @foreach (var roomType in availableRoomTypesForStay.OtherRoomTypes.Concat(availableRoomTypesForStay.UnavailableRoomTypes).OrderBy(roomType => roomType.Id))
                        {
                            var isUnavailable = availableRoomTypesForStay.UnavailableRoomTypes.Any(unavailableRoomType => unavailableRoomType.Id == roomType.Id);

                            <RoomTypeCard RoomType="roomType" RoomDiscount="GetDiscount(roomType)" IsUnavailable="isUnavailable" OnBook="PrepareBookingCreation" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal modal-lg fade" id="createBookingModal" tabindex="-1" aria-labelledby="createBookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="fs-4 mb-0" id="createBookingModalLabel">Book Værelse</h5>

                    <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>

                <div class="modal-body my-3 p-0">
                    @if (modalException is not null)
                    {
                        <div class="d-flex flex-column gap-2 mb-3">
                            @foreach (var error in ApiExceptionHelper.ParseErrors(modalException))
                            {
                                <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
                            }
                        </div>
                    }

                    @if (roomType is not null)
                    {
                        var roomDiscountsForRoomType = roomDiscounts.Where(roomDiscount => roomDiscount.RoomType.Id == roomType.Id).ToList();

                        <CreateBooking @bind-Guest="guest" RoomType="roomType" RoomDiscounts="roomDiscountsForRoomType" @bind-FromDate="finalFromDate" @bind-ToDate="finalToDate" />
                    }
                </div>

                <div class="d-flex gap-3">
                    <button type="button" class="btn btn-success w-50" @onclick="CreateBooking">
                        <i class="bi bi-plus-lg"></i>

                        Book Værelse
                    </button>

                    <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>

                        Annullér
                    </button>
                </div>
            </div>
        </div>
    </div>

@code {
    private ApiException? exception;
    private ApiException? modalException;

    private AvailableRoomTypesForStayDto? availableRoomTypesForStay;

    private GuestDto guest = new GuestDto();

    private RoomTypeDto? roomType;

    private DateTime fromDate = DateTime.Today;

    private DateTime toDate = DateTime.Today.AddDays(1);

    private DateTime finalFromDate = DateTime.Today;

    private DateTime finalToDate = DateTime.Today.AddDays(1);

    private int numberOfAdults = 1;

    private int numberOfChildren = 0;

    private bool travelingWithPets = false;

    private ICollection<RoomDiscountDto> roomDiscounts;

    protected override async Task OnInitializedAsync()
    {
        roomDiscounts = await Api.GetAllRoomDiscountsAsync();
    }

    private RoomDiscountDto? GetDiscount(RoomTypeDto roomType)
    {
        return roomDiscounts.FirstOrDefault(discount => discount.RoomType.Id == roomType.Id && discount.FromDate <= toDate && discount.ToDate >= fromDate);
    }

    private async Task PrepareBookingCreation(RoomTypeDto value)
    {
        guest = WorkContext ?? new GuestDto();

        roomType = new RoomTypeDto()
        {
            Id = value.Id,
            Name = value.Name,
            Description = value.Description,
            MaxOccupancy = value.MaxOccupancy,
            PetsAllowed = value.PetsAllowed,
            PricePerNight = value.PricePerNight
        };

        finalFromDate = fromDate;
        finalToDate = toDate;
    }

    private async Task CreateBooking()
    {
        modalException = null;

        if (roomType is null)
        {
            return;
        }

        try
        {
            if (guest.Id > 0 && string.IsNullOrEmpty(guest.Email))
            {
                guest = new GuestDto();
            }

            if (guest.Id == 0)
            {
                guest.Id = await Api.CreateGuestAsync(new CreateGuestCommand()
                {
                    FirstName = guest.FirstName,
                    LastName = guest.LastName,
                    Email = guest.Email
                });
            }

            var bookingId = await Api.CreateBookingAsync(new CreateBookingCommand()
            {
                GuestId = guest.Id,
                RoomTypeId = roomType.Id,
                FromDate = new DateTimeOffset(finalFromDate),
                ToDate = new DateTimeOffset(finalToDate),
                NumberOfAdults = numberOfAdults,
                NumberOfChildren = numberOfChildren,
                TravelingWithPets = travelingWithPets
            });

            await JS.InvokeVoidAsync("hideModal", "#createBookingModal");

            guest = new GuestDto();

            exception = new ApiException(null, 200, $"Værelsestype booket fra {fromDate:dd/MM/yyyy} til {toDate:dd/MM/yyyy} for {numberOfAdults + numberOfChildren} gæster! Din booking reference er #{bookingId}.", null, null);

            StateHasChanged();
        }
        catch (ApiException ex)
        {
            modalException = ex;
        }
    }
}
