@inherits LayoutComponentBase

<video id="bgVideo" autoplay muted loop playsinline preload="auto" class="background-video">
    <source src="/Videos/Room.mp4" type="video/mp4">
</video>

<Header />

<main class="mt-header min-h-screen p-4 text-light">
    @Body
</main>
