@rendermode InteractiveServer

@inject ApiClient Api

<EditForm Enhance class="d-flex flex-column gap-3" Model="Model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label class="form-label">Fornavn</label>

        <InputText class="form-control" @bind-Value="Model.FirstName" placeholder="Indtast fornavn" />

        <ValidationMessage For="@(() => Model.FirstName)" />
    </div>

    <div>
        <label class="form-label">Efternavn</label>

        <InputText class="form-control" @bind-Value="Model.LastName" placeholder="Indtast efternavn" />

        <ValidationMessage For="@(() => Model.LastName)" />
    </div>

    <div>
        <label class="form-label">Email</label>

        <InputText class="form-control" @bind-Value="Model.Email" placeholder="Indtast email" />

        <ValidationMessage For="@(() => Model.Email)" />
    </div>
</EditForm>

@code {
    [Parameter]
    public GuestDto Model { get; set; } = new GuestDto();

    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }
}
