@rendermode InteractiveServer

<div class="d-flex flex-column gap-3">
    <div>
        <label class="form-label">Fornavn</label>

        <InputText class="form-control" @bind-Value="Model.FirstName" placeholder="Indtast fornavn" />
    </div>

    <div>
        <label class="form-label">Efternavn</label>

        <InputText class="form-control" @bind-Value="Model.LastName" placeholder="Indtast efternavn" />
    </div>

    <div>
        <label class="form-label">Email</label>

        <InputText class="form-control" @bind-Value="Model.Email" placeholder="Indtast email" />
    </div>
</div>

@code {
    [Parameter]
    public GuestDto Model { get; set; } = new GuestDto();
}