@rendermode InteractiveServer

@inject ApiClient Api

<select class="form-select"
        @onchange="HandleChange">
    <option value="true" selected="@PetsAllowed">Ja</option>
    <option value="false" selected="@(!PetsAllowed)">Nej</option>
</select>

@code {
    [Parameter] public bool PetsAllowed { get; set; }
    [Parameter] public EventCallback<bool> OnRoomTypeChanged { get; set; }

    private async Task HandleChange(ChangeEventArgs e)
    {
        bool value = bool.Parse(e.Value.ToString()!);
        await OnRoomTypeChanged.InvokeAsync(value);
    }
}
