@rendermode InteractiveServer

@inject ApiClient Api

<InputSelect @bind-Value:get="_roomTypeId" @bind-Value:set="(value) => SetRoomType(value)" class="form-control">
    <option value="">-- Vælg en værelsestype --</option>

    @foreach (var type in roomTypes)
    {
        @if (type.Id.ToString() == _roomTypeId)
        {
            <option value="@type.Id" selected>@type.Name</option>

            continue;
        }

        <option value="@type.Id">@type.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public RoomTypeDto? RoomType { get; set; }

    [Parameter]
    public EventCallback<RoomTypeDto?> OnRoomTypeChanged { get; set; }

    private string _roomTypeId = string.Empty;

    private ICollection<RoomTypeDto> roomTypes = Array.Empty<RoomTypeDto>();

    protected override async Task OnInitializedAsync()
    {
        roomTypes = await Api.GetAllRoomTypesAsync();

        await OnParametersSetAsync();

        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (RoomType is not null)
        {
            await SetRoomType(RoomType.Id.ToString(), false);
        }
        else
        {
            await Reset();
        }
    }

    private async Task SetRoomType(string roomTypeId, bool invoke = true)
    {
        if (string.IsNullOrEmpty(roomTypeId) || !int.TryParse(roomTypeId, out var parsedRoomTypeId))
        {
            await Reset();

            return;
        }

        var roomType = roomTypes.FirstOrDefault(rt => rt.Id == parsedRoomTypeId);

        if (roomType is null)
        {
            await Reset();

            return;
        }

        _roomTypeId = roomTypeId;

        if (invoke)
        {
            await OnRoomTypeChanged.InvokeAsync(new RoomTypeDto()
            {
                Id = roomType.Id,
                Name = roomType.Name,
                Description = roomType.Description,
                MaxOccupancy = roomType.MaxOccupancy,
            });
        }

        StateHasChanged();
    }

    private async Task Reset()
    {
        _roomTypeId = string.Empty;

        await OnRoomTypeChanged.InvokeAsync(null);

        StateHasChanged();
    }
}
