@rendermode InteractiveServer

<div class="d-flex flex-wrap justify-content-center gap-3 w-fit">
    <div class="w-fit">
        <InputDate class="form-control" @bind-Value="fromDate" />
    </div>

    <div class="w-fit">
        <InputDate class="form-control" @bind-Value="toDate" />
    </div>

    <div class="w-fit">
        <div role="button" class="card flex-row h-100 px-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <div class="d-flex align-items-center gap-2 px-1">
                <span>@numberOfAdults @(numberOfAdults == 1 ? "voksen" : "voksne")</span>

                <span class="text-black-50">•</span>

                <span>@numberOfChildren @(numberOfChildren == 1 ? "barn" : "børn")</span>

                @if (travelingWithPets)
                {
                    <span class="text-black-50">•</span>

                    <span>Med Kæledyr</span>
                }
            </div>
        </div>

        <div class="dropdown-menu dropdown-menu-end px-2">
            <div class="d-flex flex-column gap-3">
                <div>
                    <label class="form-label">Antal voksne</label>

                    <AmountSelector amount="numberOfAdults" amountChanged="(value) => numberOfAdults = value" />
                </div>

                <div>
                    <label class="form-label">Antal børn</label>

                    <AmountSelector amount="numberOfChildren" amountChanged="(value) => numberOfChildren = value" />
                </div>

                <div>
                    <label class="form-label mb-0">Medbringer kæledyr</label>

                    <div class="form-check form-switch form-switch-lg">
                        <input class="form-check-input" type="checkbox" role="button" @onclick="() => travelingWithPets = !travelingWithPets">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary" @onclick="Search">Søg</button>
    </div>
</div>

@code {
    private RoomTypeDto? roomType = null;

    private DateTime? fromDate = null;

    private DateTime? toDate = null;

    private int numberOfAdults = 2;

    private int numberOfChildren = 0;

    private bool travelingWithPets = false;

    private void Search()
    {
    }
}
