@page "/"
@rendermode InteractiveServer
@inherits BasePage

<PageTitle>Search</PageTitle>

<div class="d-flex justify-content-center align-items-center min-h-screen">
    <div class="d-flex flex-column gap-5 align-items-center">
        @if (GuestService.SelectedGuest is not null)
        {
            <h1 class="m-0">Velkommen, @GuestService.SelectedGuest.FirstName!</h1>
        }
        else
        {
            <h1 class="m-0">Velkommen!</h1>
        }

        <div class="card p-2">
            <SearchFilter AvailableRoomTypesForStayChanged="(value) => availableRoomTypesForStay = value" />
        </div>

        @if (availableRoomTypesForStay is not null)
        {
            <div class="d-flex flex-column align-items-center gap-3">
                @if (availableRoomTypesForStay.SuitableRoomTypes.Any())
                {
                    <h3 class="mb-0">Bedste valg baseret på din søgning</h3>

                    <div class="d-grid gap-3 w-fit" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                        @foreach (var roomType in availableRoomTypesForStay.SuitableRoomTypes)
                        {
                            <BookingCard roomType="roomType" OnBook="OnBook" />
                        }
                    </div>

                    <h3 class="mb-0">Andre valgmuligheder</h3>
                }

                <div class="d-grid gap-3 w-fit" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                    @foreach (var roomType in availableRoomTypesForStay.OtherRoomTypes.Concat(availableRoomTypesForStay.UnavailableRoomTypes).OrderBy(roomType => roomType.Id))
                    {
                        var isUnavailable = availableRoomTypesForStay.UnavailableRoomTypes.Any(unavailableRoomType => unavailableRoomType.Id == roomType.Id);

                        <BookingCard roomType="roomType" isUnavailable="isUnavailable" OnBook="OnBook" />
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    private AvailableRoomTypesForStayDto? availableRoomTypesForStay = null;

    private RoomTypeDto? roomTypeToBook = null;

    private async Task OnBook(RoomTypeDto roomType)
    {
        roomTypeToBook = new RoomTypeDto()
        {
            Id = roomType.Id,
            Name = roomType.Name,
            Description = roomType.Description,
            MaxOccupancy = roomType.MaxOccupancy,
            // PetsAllowed = roomType.PetsAllowed,
            PricePerNight = roomType.PricePerNight
        };
    }
}
