<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">H2Projekt</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-search"></i> Søg
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booking-room">
                <i class="bi bi-list-nested"</i> Book Værelse
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <i class="bi bi-gear-fill"</i> Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <i class="bi bi-list-ol"</i> Regler
            </NavLink>
        </div>
    </nav>
</div>
