html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50810;
}

.validation-message {
    color: #e50810;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Ekstra */


.w-fit {
    width: fit-content !important;
}

.w-1 {
    width: 1% !important;
}

.w-25 {
    width: 25% !important;
}

.w-1rem {
    width: 1rem !important;
}

.w-2rem {
    width: 2rem !important;
}

.min-w-2rem {
    min-width: 2rem !important;
}

.min-w-2_5rem {
    min-width: 2.5rem !important;
}

.min-w-10rem {
    min-width: 10rem !important;
}

.max-w-diagram {
    max-width: calc(100vw - 19.25rem);
}

.h-fit {
    height: fit-content !important;
}

.h-1rem {
    height: 1rem !important;
}

.h-2rem {
    height: 2rem !important;
}

.h-2_5rem {
    height: 2.5rem !important;
}

.h-diagram {
    height: calc(100vh - 26.5rem);
}

.min-h-2rem {
    min-height: 2rem !important;
}

.min-h-2_5rem {
    min-height: 2.5rem !important;
}

.min-h-screen {
    min-height: calc(100dvh - 6.5rem) !important;
}

.fs-7 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fs-8 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.border-dashed {
    border-style: dashed !important;
}

.inset-1 {
    inset: 0.25rem;
}

.table-bordered tr {
    border: none !important;
}

.table-bordered .position-sticky {
    outline: 0.063rem solid var(--bs-border-color) !important;
}

.table-bordered th,
.table-bordered td {
    border: 0.063rem solid var(--bs-border-color) !important;
}

    .table-bordered th.border-start-0,
    .table-bordered td.border-start-0,
    .table-bordered th:first-child,
    .table-bordered td:first-child {
        border-left: none !important;
    }

    .table-bordered th.border-end-0,
    .table-bordered td.border-end-0,
    .table-bordered th:last-child,
    .table-bordered td:last-child {
        border-right: none !important;
    }

.table-bordered tr:last-child td {
    border-bottom: none !important;
}

.table-bordered th {
    border-top: none !important;
}

/* DataTable */
.dt-container {
    border: 0.063rem solid var(--bs-border-color-translucent);
    box-shadow: var(--bs-box-shadow-sm) !important;
    border-radius: var(--bs-border-radius);
}

    .dt-container .dt-layout-row:not(:nth-child(2)) {
        padding: 0 0.75rem;
    }

    .dt-container .dt-layout-row .dt-length {
        align-items: center;
        display: flex;
        gap: 0.5rem;
    }

    .dt-container:first-child {
        display: none;
    }

/* Bootstrap */

.form-switch-lg {
    padding-left: 3rem;
    min-height: 1.5rem;
}

    .form-switch-lg .form-check-input {
        margin-left: -3rem;
        height: 1.25rem;
        width: 2.5rem;
    }
